
fieldset{
    padding: 20px;
}
input{
    display: block;
    width: 80%;
    margin: 10px;
    padding: 8px;
}
.info{
    background-color: gray;
    padding: 15px 8px ;
    margin: 0;
    display: none;
}
.info::before{
    content: '';
    background-color: red;
    border: 2px solid red;
    display: inline;
    position:relative;
     left: -9px;
}
.icon{
    text-align: left;
    display: none;
}
.icon:hover + .info{
    display:block;
}

#submet{
    width: 20%;
    padding: 5px;
    margin: 10px auto;
    position: relative;
    left: 30%
}